.checkbox input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.checkbox__text {
  position: relative;
  padding: 0 0 0 10%;
  cursor: pointer;
}

.trips .checkbox__text {
  padding: 0 0 0 15%;
}

.checkbox__text:before {
  content: '';
  position: absolute;
  top: -5px;
  left: 0;
  width: 22px;
  height: 23px;
  transition: .2s;
  border: 1px solid #3a3a3a;
  border-radius: 2px;
  background-color: #fff;
}

.checkbox__link {
  color: #3a3a3a;
  text-decoration: underline;
}

.checkbox input:checked + .checkbox__text:before {
  background: #00bbda;
  border: 1px solid #00bbda;
  content: '\2714';
  color: #fff;
  font-size: 26px;
}

@media only screen and (max-width: 780px) {
  .checkbox__text {
    color: #918f8f;
  }

  .trips__checkbox .checkbox__text  {
    padding: 0px 0 0 13%;
    width: 100%
  }

  .trips__checkbox .checkbox__text:before {
    width: 40px;
    height: 40px;
    top: 0;
  }

  .trips .checkbox input:checked + .checkbox__text:before {
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center
  }

  .checkbox__text:before {
    top: 0;
  }
}

@media only screen and (max-width: 430px) {
  .trips__checkbox {
    font-size: 20px;
  }

  .trips__checkbox .checkbox__text:before {
    width: 20px;
    height: 20px;
    top: 20%;
  }
}