.footer {
	padding: 14px 0 10px;
	background-color: #030000;
}

.footer__body {
	display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-social {
	margin-left: 5%;
	display: flex;
  align-items: center;
  justify-content: center;
}

.footer-social__item {
	margin: 0 12px;
}

.footer-social__item:last-child {
	margin: 0 6px;
}

.footer-social__img {
	width: 50%;
	height: 50%;
}

.footer-menu {
	margin-right: 5%;
	display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.footer-menu__item {
	padding: 0 16px;
	border-right: 1px solid #fff;
}

.footer-menu__link {
	color: #fff;
	font-family: 'Sura', serif;
	font-size: 12px;
	font-weight: 400;
	text-transform: uppercase;
}

@media only screen and (max-width: 780px) {
	.footer-social {
	  order: 1;
	}

	.footer__body {
		flex-direction: column;
    align-items: center;
	}

	.footer-menu {
    margin-right: 0;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px
	}

	.footer-menu__link {
    font-size: 24px;
	}

	.footer-menu__item {
		width: 30%;
    padding: 0 5%;
    margin: 0 0 15px 0;
    text-align: center;
	}

	.footer-menu__item:nth-child(2n) {
		border: none;
	}

	.footer-social {
    margin-left: 0;
	}

	.footer-social__item {
		margin: 10px 35px;
	}
}

@media only screen and (max-width: 400px) {
	.footer-menu__link {
		    font-size: 20px;
		}

	.footer-menu__item {
	  width: 100%;
	  border: none;
	}
}