.form-section {
	background-image: url('../img/bottom-bg.png');
	padding-top: 100px;
	padding-bottom: 97px;
	background-size: cover;
  background-position: 50% top;
  background-repeat: no-repeat;
}

.form-section__title {
	color: #fff;
	font-size: 36px;
	font-weight: 700;
	line-height: 68px;
	text-transform: uppercase;
}

.form-container {
	max-width: 496px;
	margin: 0 auto;
}

.form-item {
	width: 100%;
	margin-top: 24px;
	display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-item__text {
	width: 50%;
	color: #3a3a3a;
	font-size: 16px;
	font-weight: 700;
}

.form-item__field {
	width: 48%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-field {
	font-family: 'Sura', serif;
	outline: none;
	font-size: 16px;
	border: 1px solid rgba(255, 255, 255, 0.57);
	background: linear-gradient(270deg, rgba(255, 255, 255, 0.38) 0%, rgba(254, 254, 254, 0.32) 100%);
}

.select-selected:after {
  position: absolute;
  content: "";
  top: 15px;
  right: 10px;
  width: 0;
  height: 0;
  border-left: 6px solid white;
  border-color: #000 transparent transparent transparent;
}

.big-input {
	width: 100%;
	padding: 10px 0 5px 12px;
}

.small-input {
	width: 45%;
	padding: 3px 0 3px 12px;
}

.micro-input {
	width: 65%;
	padding: 0 0 0 5px;
}

.form-field::placeholder {
	color: #000;
	font-family: 'Sura', serif;
}

.form__checkbox {
	padding: 0 18%;
	margin-top: 30px;
  color: #3a3a3a;
	font-family: 'Sura', serif;
	font-size: 14px;
	font-weight: 700;
}

.form__submit {
	margin-top: 37px;
  display: flex;
  justify-content: center;
}

.form__button {
	padding: 5px 10%;
	border-radius: 8px;
	background-color: #00bbda;
	color: #fff;
	text-align: center;
	font-family: 'Sura', serif;
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
	box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.2);
	border: 1px solid transparent;
	outline: none;
	cursor: pointer;
}

@media only screen and (max-width: 780px) {
	.form-section__title {
		display: none;
	}

	.form-container >.mobile__title {
		color: #fff;
		padding: 0;
		margin-bottom: 40px;
	}

	.form-container {
    max-width: 100%;
    padding: 0 20px;
	}

	.form-container .checkbox__text {
    color: #000;
	}

	.form-item {
    width: 100%;
    margin-top: 0;
    flex-direction: column;
	}

	.small-input, .big-input {
    width: 100%;
    margin-bottom: 30px;
	}

	.form-field {
		font-size: 24px;
	}

	.form-item__field, .micro-input {
    width: 102%;
	}

	.form-item__field:first-child {
		margin-bottom: 30px;
	}

	.form-item__text {
    width: 35%;
    font-size: 24px;
	}

	.form__checkbox {
    padding: 0;
    font-size: 24px;
	}

	.form__button {
		font-size: 32px;
	}
}