.header {
	padding: 8px 0 5px;
	background-color: #030000;
}

.header__body {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
	margin-left: 13px;
}

.logo__img {
	width: 50%;
	height: 50%;
}

.header-menu {
	display: flex;
	margin-right: 42px;
}

.header-menu__item {
	margin: 0 20px;
}

.header-menu__link {
	color: #fff;
	font-size: 14px;
	font-weight: 400;
}

.poster {
	max-width: 1920px;
  margin: 0 auto;
}

.poster__img {
	width: 100%;
}

.poster-mobile__img {
	display: none;
}

@media only screen and (max-width: 780px) {
	.header-menu {
		display: none;
	}

	.burger {
		display: block;
	}

	.poster__img {
		display: none;
	}

	.poster-mobile__img {
		display: block;
		width: 100%;
	}
}