.burger {
  margin-right: 13px;
  display: none;
  cursor: pointer;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #fff;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

.mobile-menu {
  display: block;
  position: absolute;
  width: 100%;
  transform: translateY(67%);
  max-height: 0;
  font-size: 0;
  overflow: hidden;
  background-color: #000;
  transition: .5s all;
}

.mobile-menu__link {
  color: #fff;
}

.mobile-menu__list {
  text-align: center;
}

.mobile-menu__item {
  padding: 15px;
}

#check-menu {
  position: absolute;
  right: 0;
  display: none;
}

#check-menu:checked + .mobile-menu {
  max-height: 100%;
  font-size: 16px;
}

@media only screen and (max-width: 780px) {
  .burger {
    display: inline-block;
  }
}
