.mobile-description {
	display: flex;
	align-items: center;
	flex-direction: column;
	align-content: center;
}

.mobile-description__title {
	display: none;
	align-items: center;
	align-content: center;
	flex-direction: column;
	color: #5b5b5b;
	text-align: center;
	font-size: 49px;
	font-weight: 700;
	line-height: 44px;
	text-transform: uppercase;
	padding: 30px 10%;
}

.mobile-description__title > span {
	font-size: 38px;
	text-align: center;
}

.mobile-description__text {
	display: none;
	text-align: center;
	color: #918f8f;
	font-size: 32px;
	font-weight: 400;
	line-height: 40px;
	padding: 0px 3%;
}

@media only screen and (max-width: 780px) {
	.mobile-description__title, .mobile-description__text {
		display: flex;
	}
}