@import "reset.css";
@import "header.css";
@import "trips.css";
@import "form.css";
@import "checkbox.css";
@import "footer.css";
@import "modules.css";
@import "mobile-description.css";
@import "mobile-menu.css";

body {
	font-family: 'Sura', serif;
}

a {
	text-decoration: none;
}

@font-face {
	font-family: Portico_Diablo;
	src: url("../fonts/Portico_Diablo.otf") format("opentype");
}