.trips {
	display: flex;
	align-items: center;
}

.trips__img {
	max-width: 500px;
	max-height: 300px;
	margin-left: 23px;
}

.trips__title, .trips__checkbox {
	color: #5b5b5b;
	font-size: 26px;
	font-weight: 700;
	line-height: 25px;
	text-transform: uppercase;
}

.trips__text {
	color: #918f8f;
	font-size: 16px;
	line-height: 20px;
	margin-top: 10px;
}

.trips__checkbox {
	font-size: 23px;
	margin-top: 70px;
}

.trips__description {
	display: flex;
	flex-direction: column;
	padding: 0 20px;
}

.trips-item {
	padding: 0 5%;
}

.trips-item__title {
	font-family: Portico_Diablo;
	font-size: 18px;
	line-height: 18px;
	text-transform: uppercase;
}

.trips-item__img {
	width: 120px;
	height: 120px;
}

.trips-item__link {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.trips-item:first-child {
	margin-bottom: 10px;
}

.trips-item:last-child {
	padding-top: 7px;
	border-top: 1px solid rgba(151, 151, 151, 0.4);
}

.trips__option {
	display: flex;
	flex-direction: column;
	border-left: 1px solid rgba(151, 151, 151, 0.4);
}

.trips__checkbox .checkbox__text:before {
	top: -1px;
}

.mobile__title {
	display: none;
	flex-direction: column;
	text-align: center;
	color: #5b5b5b;
	font-size: 53px;
	font-weight: 700;
	line-height: 47px;
	text-transform: uppercase;
	padding: 25% 0 10%;
}

.mobile__title > span {
	text-align: center;
}

@media only screen and (max-width: 780px) {
	.trips {
	  flex-direction: column;
	}

	.trips__left {
		padding: 0 2%;
	}

	.trips__title, .trips__text {
		display: none;
	}

	.trips__img {
		max-width: 100%;
		margin-left: 0;
	}

	.mobile__title {
		display: flex;
	}

	.trips__checkbox {
		font-size: 36px;
		margin: 15% auto;
		text-align: center;
    line-height: 40px;
	}

	.trips__option {
		flex-direction: row;
		border-left: none;
		align-items: center;
	}

	.trips-item {
    border-top: 2px solid rgba(151, 151, 151, 0.4);
	}

	.trips-item:first-child {
		padding-top: 7px;
    margin-bottom: 0;
    border-right: 1px solid rgba(151, 151, 151, 0.4);
	}

	.trips-item:last-child {
		border-left: 1px solid rgba(151, 151, 151, 0.4);
		border-top: 2px solid rgba(151, 151, 151, 0.4);
	}

	.trips-item__img {
    width: 100%;
    height: 100%;
	}

	.trips-item__title {
    font-family: Portico_Diablo;
    line-height: normal;
    text-transform: uppercase;
	}

	.trips-item__link {
		width: 100%;
    margin: 0 auto;
	}
}

@media only screen and (max-width: 300px) {
	.trips-item {
	  font-size: 20px;
	  padding: 0;
	}

	.trips-item__title {
    font-size: 15px;
	}
}